@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@100;200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

.why-us {
    text-align: left;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.why-us h2 {
    font-size: 7.5vw;
    font-family: 'Unbounded', sans-serif;
    font-weight: 400;
    color: #1D4594;
    margin-bottom: 10px;
    margin-top: 3%;
}

.why-us strong {
    font-weight: 700;
}

.why-us-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Выравниваем по левому краю */
    gap: 20px;
    max-width: 1300px;
    margin-left: 0; /* Прижимаем контейнер к левому краю */
    text-align: left; /* Выравниваем текст влево */
    margin-top: -9%;
    margin-left: 30%;
}

.why-us-text {
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: black;
    text-align: left; /* Выравниваем текст влево */
    line-height: 1; /* Уменьшаем межстрочный интервал */
}

.highlighted-text {
    color: #1D4594;
}

/* Стили для SVG */
.left-svg, .right-svg {
    height: 20px;
}

@media (max-width: 1400px) {
    .why-us-container {
        margin-top: -10%;
    }
}

/* Медиа-запрос для мобильных */
@media (max-width: 600px) { 
    .why-us {
        text-align: center;
        width: 90%;
    }

    .why-us-container {
        display: flex;
        align-items: center;
        justify-content: center; /* Центрируем контейнер по горизонтали */
        gap: 15px;
        max-width: 2000px;
        margin: 0 auto; /* Центрируем контейнер на экране */
        text-align: center; /* Выравниваем текст по центру */
    }
    
    .why-us-text {
        font-size: 2.7vw;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        color: black;
        text-align: center; /* Центрируем текст внутри блока */
        line-height: 1.4; /* Уменьшаем межстрочный интервал */
    }
    
}

@media (max-width: 431px) {
    .why-us {
        text-align: center;
        width: 90%;
    }
}